<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" type="text/css" href="style.css" />
  <title>Ask a Question - StackOverflow</title>
  <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d" />
</head>

<body class="signup-page">
  <div class="navbar">
    <div class="menu">
      <button class="menuButton">
        <span class="menuLine1"></span>
        <span class="menuLine2"></span>
        <span class="menuLine3"></span>
      </button>
      <!-- <img class="logo" src="logo.png"></img> -->
      <a href="/"><img class="logo1" src="images/logo1.png" /></a>
      <a href="/"><img class="logo2" src="images/logo2.png" /></a>
      <button class="whiteButton">Products</button>
      <button class="whiteButton">Customers</button>
      <button class="whiteButton">Use cases</button>
      <form class="searchReference" method="GET" action="/search">
        <input type="text" class="search" name="search" placeholder=" Search…" />
        <svg class="svgSearch">
          <path class="searchIcon"
            d="M18 16.5l-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0z">
          </path>
        </svg>
        <input type="submit" style="display: none;">
      </form>
      <a href="./login">
        <input type="button" class="loginButton" value="Log in" />
      </a>
      <a href="./signup">
        <input type="button" class="signupButton" value="Sign Up" />
      </a>
    </div>
  </div>
  {{#if success}}
  <div class="alert">
    <span class="alertbtn" onclick="this.parentElement.style.display='none';">&times;</span>
    <strong>Sucessful!</strong> Congratulations, your ask has been posted.
  </div>
  {{/if}}
  <section class="ask">
    <form method="POST" action="ask" enctype="multipart/form-data">
      <div class="big-content">
        <div class="ask-container">
          <h4>Title</h4>
          <input type="text" name="title" onfocus />
          <br />
          <br />
          <h4>Body</h4>
          <textarea name="body" value="Preencha pelo menos 10 letras"></textarea>
          <br />
          <br />
          <h4>Tags</h4>
          <input type="tags" name="tags" />
          <br />
          <br />
          <h4>Add Files</h4>
          <input type="file" name="image" accept="image/*" />
        </div>
      </div>
      <input class="light-blue-btn btn" type="submit" value="Review your question" />
    </form>
  </section>
</body>

</html>