<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Look at the questions- StackOverflow</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d" />
</head>

<body class="signup-page">
    <div class="navbar">
        <div class="menu">
            <button class="menuButton">
                <span class="menuLine1"></span>
                <span class="menuLine2"></span>
                <span class="menuLine3"></span>
            </button>
            <!-- <img class="logo" src="logo.png"></img> -->
            <a href="/"><img class="logo1" src="images/logo1.png" /></a>
            <a href="/"><img class="logo2" src="images/logo2.png" /></a>
            <button class="whiteButton">Products</button>
            <button class="whiteButton">Customers</button>
            <button class="whiteButton">Use cases</button>
            <form class="searchReference" method="GET" action="/search">
                <input type="text" class="search" name="search" placeholder=" Search…" />
                <svg class="svgSearch">
                    <path class="searchIcon"
                        d="M18 16.5l-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0z">
                    </path>
                </svg>
                <input type="submit" style="display: none;">
            </form>

            {{#if login}}
            <a href="./logout">
                <input type="button" class="loginButton" value="Log out" />
            </a>
            <a href="./ask">
                <input type="button" class="signupButton" value="ASK!" />
            </a>
            {{else}}
            <a href="./login">
                <input type="button" class="loginButton" value="Log in" />
            </a>
            <a href="./signup">
                <input type="button" class="signupButton" value="Sign Up" />
            </a>
            {{/if}}
        </div>
    </div>
    <section class="show-content">


    </section>
    <div class="hidden">
    </div>

    <script>
        var msgs;
        var req = new XMLHttpRequest();
        var container = document.getElementsByClassName("show-content")[0];
        var url = window.location.href;
        var counter = 0;
        var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
        var search = queryString.split("=")[1];
        var flag = true;
        var flag_listening = false;
        var flag_stop = false;

        onLoading = () => {
            div = document.createElement("div");
            div.className = "centralize";
            div.innerHTML = `
                <div class="progress container">
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            `
            document.getElementsByClassName("hidden")[0].appendChild(div);
        }

        removeLoading = () => {
            element = document.getElementsByClassName("centralize")[0]
            if (element)
                element.parentNode.removeChild(element);
        }

        req.open("GET", "/frames?search=" + search + "&counter=" + counter, true);
        req.onreadystatechange = function () {
            if (req.readyState === 4 && req.status === 200) {
                msgs = JSON.parse(req.responseText);
                if (msgs["msgs"].length === undefined) {
                    let div = document.createElement("div");
                    div.innerHTML = `<h2 class='middle-container'>Nenhum registro encontrado!</h2><hr>`;
                    container.appendChild(div);
                }
                if (msgs["msgs"].length < 4) {
                    flag_stop = true;
                }
                for (let i = 0; i < msgs["msgs"].length; i++) {
                    msg = msgs["msgs"][i];
                    let div = document.createElement("div");
                    let hr = document.createElement("hr");
                    hr.style.width = "50%";

                    div.className = "show-elements shadow-box";
                    div.innerHTML = `<img src='image/${msg.file}' alt='' /><ul class='show-items'><li><strong>Title:</strong>${msg.title}</li><br><li><strong>Body: </strong>${msg.body}</li><br><li><strong>Tags: </strong>${msg.tags}</li></ul>`;
                    container.appendChild(div);
                    container.appendChild(hr);
                    //container.innerHTML = "<div class='show-elements shadow-box'></div><hr width='50%'><h2 class='middle-container'>Nenhum registro encontrado!</h2><hr>"
                }

                flag_listening = true;
            }
        }
        req.send();
        counter = 4;
        window.addEventListener("scroll", () => {
            //console.log(flag_listening);
            if (flag_listening) {
                if (((window.innerHeight + window.pageYOffset) >= document.body.offsetHeight - 2)) {
                    var req = new XMLHttpRequest();
                    var url = window.location.href;
                    var queryString = url ? url.split('?')[1] : window.location.search.slice(1);
                    var search = queryString.split("=")[1];
                    if (flag) {
                        flag = false;
                        req.open("GET", "/frames?search=" + search + "&counter=" + counter, true);
                        if (!flag_stop)
                            onLoading();
                        req.onreadystatechange = function () {
                            if (req.readyState === 4 && req.status === 200) {
                                msgs = JSON.parse(req.responseText);
                                if (msgs["msgs"].length < 4) {
                                    flag_stop = true;
                                }
                                for (let i = 0; i < msgs["msgs"].length; i++) {
                                    msg = msgs["msgs"][i]
                                    let div = document.createElement("div");
                                    let hr = document.createElement("hr");
                                    hr.style.width = "50%";

                                    div.className = "show-elements shadow-box";
                                    div.innerHTML = `<img src='image/${msg.file}' alt='' /><ul class='show-items'><li><strong>Title:</strong>${msg.title}</li><br><li><strong>Body: </strong>${msg.body}</li><br><li><strong>Tags: </strong>${msg.tags}</li></ul>`;
                                    container.appendChild(div);
                                    container.appendChild(hr);

                                    //container.innerHTML = "<div class='show-elements shadow-box'></div><hr width='50%'><h2 class='middle-container'>Nenhum registro encontrado!</h2><hr>"
                                }
                                removeLoading();
                                flag = true;
                                counter += 4;
                                console.log("if");
                            }
                        }
                        req.send();
                    } else {
                        console.log("else");
                    }
                }
            }
        }, false);
        document.querySelector(".search").addEventListener("keyup", () => {
            let text = document.querySelector(".search").value;
            var xmlhttp = new XMLHttpRequest();
            xmlhttp.open("GET", "/liveSearch?text=" + text, true);
            xmlhttp.onreadystatechange = () => {
                if (xmlhttp.readyState === 4 && xmlhttp.status === 200) {
                    a = document.querySelector(".autocomplete-items");
                    if (a)
                        a.parentNode.removeChild(a);

                    if (xmlhttp.responseText != "") {
                        data = JSON.parse(xmlhttp.responseText);
                        if (data.msg.length != 0) {
                            console.log(JSON.parse(xmlhttp.responseText).msg);
                            list = document.createElement("DIV");
                            list.setAttribute("class", "autocomplete-items");
                            document.querySelector(".search").parentNode.appendChild(list);

                            for (let i = 0; i < data.msg.length; i++) {
                                element = document.createElement("DIV");
                                element.innerHTML = `<p>${data.msg[i].title}</p>`;
                                element.addEventListener("click", () => {
                                    document.querySelector(".search").value = data.msg[i].title;
                                    a = document.querySelector(".autocomplete-items");
                                    a.parentNode.removeChild(a);
                                })

                                list.appendChild(element);
                            }
                        }
                    }
                }
            };
            xmlhttp.send()
        })
    </script>

</body>

</html>