<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link rel="stylesheet" type="text/css" href="style.css" />
    <title>Log in - StackOverflow</title>
    <link rel="shortcut icon" href="https://cdn.sstatic.net/Sites/stackoverflow/img/favicon.ico?v=4f32ecc8f43d" />
</head>

<body class="signup-page">
    <div class="navbar">
        <div class="menu">
            <button class="menuButton">
                <span class="menuLine1"></span>
                <span class="menuLine2"></span>
                <span class="menuLine3"></span>
            </button>
            <!-- <img class="logo" src="logo.png"></img> -->
            <a href="/"><img class="logo1" src="images/logo1.png" /></a>
            <a href="/"><img class="logo2" src="images/logo2.png" /></a>
            <button class="whiteButton">Products</button>
            <button class="whiteButton">Customers</button>
            <button class="whiteButton">Use cases</button>
            <div class="searchReference">
                <input class="search" placeholder=" Search…" />
                <svg class="svgSearch">
                    <path class="searchIcon"
                        d="M18 16.5l-5.14-5.18h-.35a7 7 0 1 0-1.19 1.19v.35L16.5 18l1.5-1.5zM12 7A5 5 0 1 1 2 7a5 5 0 0 1 10 0z">
                    </path>
                </svg>
            </div>

            <a href="./login">
                <input type="button" class="loginButton" value="Log in" />
            </a>
            <a href="./signup">
                <input type="button" class="signupButton" value="Sign Up" />
            </a>
        </div>
    </div>
    <section class="show-content">
    {{#msgs}}
        <div class="show-elements shadow-box">
            <img src="image/{{file}}" alt="" />
            <ul class="show-items">
                <li><strong>Title:</strong> {{title}}</li><br>
                <li><strong>Body: </strong>{{body}}</li><br>
                <li><strong>Tags: </strong>{{tags}}</li>
            </ul>
        </div>
        <hr width="50%">
    {{/msgs}}
    </section>
</body>

</html>